.App {
  background: url("./assets/img/triangles-top.svg") left top no-repeat,
    url("./assets/img/triangles-bottom.svg") right bottom no-repeat, #272333;
  background-size: 30%, 30%;
  height: 1200px;
}
.container {
  padding: 15rem 12rem 10rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 3.5rem;
}

.test {
  grid-column: 4/13;
  height: 1000px;
}
